@model bit285assignment1naps.Models.User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}


    <h1>Password Information</h1>
    <fieldset>
        <form>
            <!--These labels is for me to see what model data is carried over from view to view and so far, not to all views :( -->
            <div>
                <label asp-for="firstName">First Name: </label>
                @Model.firstName
            </div>
            <div>
                <label asp-for="lastName">Last Name: </label>
                @Model.lastName
            </div>
            <div>
                <label asp-for="email">Email:  </label>
                @Model.email
            </div>
            <div>
                <label asp-for="program">Program: </label>
                @Model.program
            </div>
            <div>
                <label>Year of Birth</label>
                <select name="birthYear">
                    <option>1950</option>
                    <option>1951</option>
                    <option>1952</option>
                    <option>1953</option>
                    <option>1954</option>
                    <option>1955</option>
                    <option>1956</option>
                    <option>1957</option>
                    <option>1958</option>
                    <option>1959</option>
                    <option>1960</option>
                    <option>1961</option>
                    <option>1962</option>
                    <option>1963</option>
                    <option>1964</option>
                    <option>1965</option>
                    <option>1966</option>
                    <option>1967</option>
                    <option>1968</option>
                    <option>1969</option>
                    <option>1970</option>
                    <option>1971</option>
                    <option>1972</option>
                    <option>1973</option>
                    <option>1974</option>
                    <option>1975</option>
                    <option>1976</option>
                    <option>1977</option>
                    <option>1978</option>
                    <option>1979</option>
                    <option>1980</option>
                    <option>1981</option>
                    <option>1982</option>
                    <option>1983</option>
                    <option>1984</option>
                    <option>1985</option>
                    <option>1986</option>
                    <option>1987</option>
                    <option>1988</option>
                    <option>1989</option>
                    <option>1990</option>
                    <option>1991</option>
                    <option>1992</option>
                    <option>1993</option>
                    <option>1994</option>
                    <option>1995</option>
                    <option>1996</option>
                    <option>1997</option>
                    <option>1998</option>
                    <option>1999</option>
                    <option>2000</option>
                    <option>2001</option>
                    <option>2002</option>
                    <option>2003</option>
                    <option>2004</option>
                    <option>2005</option>
                    <option>2006</option>
                    <option>2007</option>
                    <option>2008</option>
                    <option>2009</option>
                    <option>2010</option>
                    <option>2011</option>
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                </select>
                <!--<span asp-validation-for="favColor"></span>-->
            </div>
            <div>
                <label>Favorite Color</label>
                <select name="favColor">
                    <option>Red</option>
                    <option>Blue</option>
                    <option>Green</option>
                    <option>Yellow</option>
                    <option>Orange</option>
                    <option>Purple</option>
                    <option>Black</option>
                    <option>White</option>
                </select>
                <!--<span asp-validation-for="favColor"></span>-->
            </div>

            <div>
                <!--<input type="button" onclick="location.href='/select-password.html';" value="Suggest Password" />-->
                <!--<input type="submit" value="Suggest Password" />-->
                <a asp-action="SelectPassword">Suggest Password</a>
                <!--@Html.ActionLink("Makeup Password", "SelectPassword")-->
                <input type="button" value="Reset" />
            </div>
        </form>
    </fieldset>

