@model bit285assignment1naps.Models.User
@inject bit285assignment1naps.Models.PasswordSuggestionService Password
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<h1>Password Suggestion</h1>
<fieldset>
    <form>
        <!--These labels is for me to see what model data is carried over from view to view and so far, not to all views :( -->
        <div>
            <label asp-for="firstName">First Name: </label>
            @Model.firstName
        </div>
        <div>
            <label asp-for="lastName">Last Name: </label>
            @Model.lastName
        </div>
        <div>
            <label asp-for="email">Email:  </label>
            @Model.email
        </div>
        <div>
            <label asp-for="program">Program: </label>
            @Model.program
        </div>
        <div>
            <label asp-for="password">Possible Password</label>
            <input asp-for="password" value=@Password.generatePassword(Model) />
        </div>
        <div>
            <!--<input type="button" onclick="location.href='/confirm-account.html';" value="Create Account" />-->
            <!--<input type="submit" value="Confirm Password" />-->
            <a asp-action="ConfirmAccount">Confirm Password</a>
            <input type="button" value="Reset" />
        </div>
    </form>
</fieldset>

